@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------- Relative Fonts -----------------*/

@font-face {
  font-family: "Rubik";
  font-weight: 400;

  src:
    local("Rubik Regular"),
    local("Rubik-Regular"),
    url(../assets/fonts/Rubik-Regular.ttf) format("truetype");

  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;

  src:
    local("Rubik Medium"),
    local("Rubik-Medium"),
    url(../assets/fonts/Rubik-Medium.ttf) format("truetype");

  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;

  src:
    local("Rubik Bold"),
    local("Rubik-Bold"),
    url(../assets/fonts/Rubik-Bold.ttf) format("truetype");

  font-display: swap;
}
.filterDel:hover {
  filter: invert(64%) sepia(70%) saturate(1024%) hue-rotate(307deg)
    brightness(83%) contrast(128%);
}

/* Custom Scrollbar */
/* WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  border: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(192, 184, 184, 0.66);
  border-radius: 1.25rem;
  border: 0.1875rem solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgba(192, 184, 184, 0.66);
}

/* Firefox */
/* Note: Firefox does not support customizing scrollbars directly.
   This code will style the overlay scrollbars that appear on Mac OS.
   It may not work on Windows or other platforms. */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(192, 184, 184, 0.66) transparent;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(192, 184, 184, 0.795);
}

/* Microsoft Edge */
/* Edge does not support customizing scrollbars directly either.
   This may not work on all versions of Edge. */
* {
  -ms-overflow-style: none; /* Hide default scrollbar in Edge */
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(192, 184, 184, 0.795);
}
